$light: #fff;
$primary-color:#389977;
$secondary-color: #104432;
$black: #222;
$black-light: #104432;
$black-lighter: #14543e;
$border-color:#eee;
$primary-font: 'Lora', serif;
$secondary-font:'Open Sans', sans-serif;
$gray : #f4fcf9;
