$light: #d1f4e6;
$primary-color:#104432;
$secondary-color: #389977;
$black: #222;
$black-light: #104432;
$black-lighter: #389977;
$border-color:#eee;
$primary-font: 'Lora', serif;
$secondary-font:'Open Sans', sans-serif;
$gray : #d1f4e6;
